/*  FEED CALL COMPONENT */
.callWrapper {
  display: flex;
}

.archiveCallsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  width: 100%;

  margin-bottom: 20px;
  padding: 10px;

  border: none;
  border-radius: 15px;
  background-color: #afe1af;
  cursor: pointer;
}

.archiveCallsBtn svg {
  width: 20px;
  height: 20px;
}

.allCallsArchived {
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  margin-top: 20px;
}
